
<!doctype html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% block pagehead %}
        <title>pat's blog</title>
        {% endblock %}
        <!-- TODO: SRI hash integrity stuff, move to CDN? -->
        <!-- TODO: convert hash integrity to my custom jinja2 template filter -->
        <!-- TODO: the ordering of these matter. can I do this better (async breaks it, while defer is fine. -->
        <!--<script src="/highlight.min.js" defer integrity="{{highlightjssum}}"></script>-->
        <!--<script src="/main.js" defer integrity="{{mainjssum}}"></script>-->
        <!-- hardcoded srihash, pls ignore, will update soon -->
        <script src="/highlight.min.js" defer integrity="sha384-FghsIZgraycLBm9zCapy2tnx0l5t7Dr3D09j9BBDH2W9G1RZR3p5OXOrTDJO8Jod"></script>
        <script src="/main.js" defer integrity="sha384-pLZSyqjJDz1xb9sJL2+GwSRVShA6u3WK+iMub1AxCVfL3PH24qzZMM20D3I5KVIQ"></script>

        <!--<link rel="stylesheet" type="text/css" href="/main.css" integrity="{{maincsssum}}">-->
        <!--<link rel="stylesheet" type="text/css" href="/zenburn.min.css" integrity="{{zenburncsssum}}">-->
        <!-- hardcoded srihash, pls ignore, will update soon -->
        <link rel="stylesheet" type="text/css" href="/main.css" integrity="sha384-yCDo0m7e9j70bEAOScgNU/xJ/0I2dGVzsKQrFldv4wRvYhT7jNEeeRc8HPrwsWOh">
        <link rel="stylesheet" type="text/css" href="/zenburn.min.css" integrity="sha384-8MaW8jinpeRSNjvLOb/yilroBfEPmJVdYhjzys+GmPbX8oX6RRGYRYGucfmdEONl">

        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        {% include "header.html" %}
        {% block body %}
        <h1>welcome</h1>
        <p>
        There should be the list of front page posts here.
        </p>
        {% endblock %}
    </body>
</html>


