
<!doctype html>

<html>

    <head>
        
        {% block pagehead %}
        <title>pat's blog</title>
        {% endblock %}
        <!-- TODO: SRI hash integrity stuff, move to CDN? -->
        <script src="/main.js" async></script>
        <link rel="stylesheet" type="text/css" href="/main.css">

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        {% include "header.html" %}
        {% block body %}
        <h1>welcome</h1>
        <p>
        There should be the list of front page posts here.
        </p>
        {% endblock %}
    </body>
</html>


