{% extends "base.html" %}

{% block pagehead %}
<title>{{ title }}</title>
{# contain the postid so we can use it for the JS #}
<meta name="postid" content="{{ postid }}">
{% endblock %}

{% block body %}
<article id="post">
    <header> 
        <h1>{{ title }}</h1>
        <time>Written: {{ postdate }}</time>
        <span class="author">Author: {{ postauthor }}</span>
    </header>
    {# need to mark it as safe, because the markdown generator generates html! #}
    {{ postcontent|safe }} 

    <footer>
        <noscript>¡ we need js to display these comments ! <br>...yeah we use ajax and stuff to fetch and post comments</noscript>
        <section id="comments">
            {# clicking this will unfold the comment form, and request a captcha #}
            <button id="composecomment">write a comment!</button>
            <form id="startpostcomment">
                <label for="title">Title:</label>
                <input name="title" required>

                <label for="name">Name:</label>
                <input name="name" required>

                <label for="email">Email (optional):</label>
                <input name="email">

                <label for="body">Comment:</label>
                <input name="body" required>

                <div id="captcha">
                    Captcha:
                    {# loading spinner #}
                    <div id="captchaspinner" class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    {# when captcha question comes back from the server, this is populated #}
                    <div id="captchaloaded">
                        <div id="question"></div>
                        <label for="captchaanswer">Answer</label>
                        <input name="captchaanswer" required>
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
            <h1>Comments</h1>
            <a name="comments"></a>
            {# loaded comments are inserted here on the client #}
            <div id="commentbox"></div>
        </section>
    </footer>
</article>
{% endblock %}

